.container {
  margin-top: 0.2rem;
  padding: 0;
  list-style: none;
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  padding-left: 0.2rem;
  transition: transform 300ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnails {
  width: 40%;
  height: 100%;
  cursor: pointer;
}

.title,
.channelTitle {
  margin: 0;
}

.title {
  font-size: 1.3rem;
  margin-left: 1rem;
  font-weight: bold;
}

.channelTitle {
  font-size: 1rem;
  margin-left: 1rem;
}
